html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  background: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: flex end;
}

canvas {
  border: 1px solid black;
}

.button {
  display: block;
  text-align: center;
}